extend layout/main.pug

block content
  .join__logo
    a(href=routes.home)
      h1 LOGO
  .join__form
    form(action=routes.join, method="post")
      label(for="input__id") 아이디
      input(type="email", name="email", placeholder="(이메일 형식)", id="input__id", required)
      label(for="input__pw1") 비밀번호
      input(type="password", name="password1", placeholder="비밀번호", id="input__pw1", required)
      label(for="input__pw2") 비밀번호 재확인
      input(type="password", name="password2", placeholder="비밀번호 재확인", id="input__pw2", required)
      label(for="input__name") 이름
      input(type="text", name="name", placeholder="이름", id="input__name", required)
      label(for="input__phoneNumber") 휴대전화
      input(type="text", name="phoneNumber", id="input__phoneNumber", required)
      input(type="submit", value="가입하기")
