footer.footer
  .snsIcon
    .icon__facebook
      a(href="https://www.facebook.com")
        i(class="xi-facebook xi-3x")
    .icon__instagram
      a(href="https://www.instagram.com")
        i(class="xi-instagram xi-3x")
    .icon__kakotalk
      a(href="#")
        i(class="xi-kakaotalk xi-3x")
    .icon__twitter
      a(href="https://twitter.com")
        i(class="xi-twitter xi-3x")
    .icon__youtube
      a(href="https://www.youtube.com")
          i(class="xi-youtube-play xi-3x")
  span &copy Four-Top
